@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,600;1,700&display=swap');

:root {
	/* Colors */
	--colorOne: #fb1;
	--colorTwo: #0D0D0D;
	--colorThree: rgba(255, 188, 17, 0.445);
	--colorFour: #F6F6F6;
	--colorFive: #213740;
	--colorSix: #F04444;

	/* Fonts */
	--nunito: 'Nunito Sans', sans-serif;
}

/* Global configurations */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url("./assets/img/background.png") center repeat-x;
	background-size: cover;
	animation: moveRight 20s linear infinite;
	font-family: var(--nunito);
	width: 100%;
	min-height: 100vh;
	display: flex;
	padding: 2rem;
}

.wrapper {
	width: 100%;	
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.info-container {
	background: var(--colorFour);
	border-radius: .8rem;
	width: 100%;
	max-width: 80rem;
	padding: 1rem .5rem;
}

.shadow-container {
	box-shadow: .15rem .15rem .3rem .2rem rgba(0, 0, 0, 0.3);
}

.title {
	font-family: var(--nunito);
	font-size: 2.7rem;
	font-weight: bold;
	text-align: center;
  background: -webkit-linear-gradient(-90deg, #0D0D0D 57.81%, rgba(255, 187, 17, 0.63) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-ifn {
	color: var(--colorTwo);
	font-size: 2rem;
	font-family: var(--nunito);
	position: relative;
  z-index: 1;
	line-height: 1;
	margin: 1rem 0;
	text-shadow: .2rem 2.rem 2.rem black;
}

.title-ifn:after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: #fb1;
  position: absolute;
  bottom: -.1rem;
  left: -.3rem;
  border-radius: .2rem;
  z-index: -1;
}

[disabled] {
	opacity: 0.4;
	cursor: default !important;
	pointer-events: none;
}

.anime-left {
	opacity: 0;
	transform: translateX(-1rem);
	animation: animeLeft 1.5s forwards;
}


/* Media queries */

@media(max-width: 70rem) {
	html {
		font-size: 90%;
	}
}

@media(max-width: 40rem) {
	html {
		font-size: 80%;
	}
}

@media(max-width: 38rem) {
	html {
		font-size: 70%;
	}
}

@media(max-width: 34rem) {
	html {
		font-size: 60%;
	}
}

@media(max-width: 32rem) {
	html {
		font-size: 50%;
	}
}

/* animations */

@keyframes moveRight {
	from {
		background-position-x: 0px;
	}

	to {
		background-position-x: 100vw;
	}

}

	@keyframes animeLeft {
	to {
		opacity: 1;
		transform: initial;
	}
}